html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    a {
        text-decoration: none;
        &:hover {
            background-color: rgb(134, 168, 155);
        }
    }
}
